
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
}

#wrapper {
  @extend %font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $pickled-bluewood;
  perspective: 3000px;
  background: $alto;
}

input, textarea {
  @extend %font;
}

#app {
  display: grid;
  grid-template-rows: 40px [shimmer] 5px 1fr 40px;
  grid-template-columns: [left-col] 20px [center-col] 1fr [right-col] 20px;
  min-height: 100vh;
  height: 100%;
  transition: .174s all ease-out;
  background: $gallery;
}

#app.is-active {
  transform: translate3d(120px, 0, 0) scale(0.85) rotateY(-15deg);
}
main {
  grid-row: 3;
}

main {
  // text-align: center;
  height: 100%;
  display: block;
  width: 100%;
  grid-column: center-col / right-col;
}

// Material-icons configuration
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.link {
  @extend %link;
}


.no-link {
  @extend %link;
  text-decoration: none;
}


.label {
  @extend %label;
}

.text-input {
  @extend %text-input;
}

.button {
  @extend %button;
}
.button:active {
  @extend %button-pressed;
}
.button:disabled {
  @extend %button-disabled;
}

.section-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: $dove-gray;
}