// :root {
//   --coral-red: #FF4444;
// }

// The z-index layering
$layer-100: 100;
$layer-200: 200;

// Heights
$height-100: 30px;

// Width
$width-100: 80px;

// Dimensions
$dim-50: 5px;
$dim-100: 10px;
$dim-200: 20px;

// Borders
$border-radius-100: 3px;

// The grid-layout max-width
$max-column-width: 960px;

// Colors

$alto: #DDDDDD;
$carrot-orange: #EC912B;
$coral-red: #FF4444;
$dove-gray: #666666;
$gallery: #EEEEEE;
$heliotrope: #FF4444;
$jungle-green: #2BA06D;
$pickled-bluewood: #2C3E50;

%link {
  color: $heliotrope;
  font-weight: bold;
  text-decoration: underline;
}

%font {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

%page {
    max-width: $max-column-width;
    margin: auto;
    width: 100%;
    background: white;
    // margin: $dim-200 auto;
    margin: auto;
    padding: 0 $dim-200;
}


%label {
    font-weight: bold;
    display: block;
    height: $height-100;
    line-height: $height-100;
}

%text-input {
    height: $height-100;
    width: 100%;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid $alto;
    padding: 0 5px;
}

%button {
  height: $height-100;
  background: $heliotrope;
  border: none;
  color: white;
  border-bottom: 2px solid darken($heliotrope, 10%);
  min-width: $width-100;
  border-radius: $border-radius-100;
  position: relative;
  cursor: pointer;
}

%button-pressed {
  top: 1px;
  border-bottom: none;
  background: darken($heliotrope, 5%);
}

%button-disabled {
  background: rgba($dove-gray, .6);
  border-bottom: 2px solid darken(rgba($dove-gray, .6), 10%);
}